/*********************/
/* css for rmsweb v2 */
/*********************/
* {
	margin:0px;
	padding:0px;
	color:#FFF;
	font-family:"trebuchet ms", verdana, sans-serif;
	font-size:10pt;
	background:transparent;
}

body {
	width:1024px;
	height:768px;
	margin:10px;
	border:5px solid orange;
	border-radius:15px;
	-moz-border-radius:15px;
	background-image: url('../images/fibre_red.jpg');
}

p, li, a{ 
	line-height:20px;
	color:orange;
	text-align:center;
}

/***********************************/
/* rules for the header and footer */
/***********************************/
header#page_header p {
	width:90%;
	margin-left:auto;
	margin-right:auto;
}

header#page_header nav ul, #page_footer nav ul {
	display: block;
	list-style: none;
	width:100%;
	text-align: center;
	padding: 0;
} 

header#page_header nav ul li, footer#page_footer nav ul li {
	padding:0; 
	margin: 0 20px 0 0;
	display:inline;
}


.drawbox {
	border:4px solid #F00;
	padding:4px;
	text-align:center;
	font-weight:bold;
	color:#F00;
	font-family:"trebuchet ms", verdana, sans-serif;
}

.linecenter {
	padding:4px;
	text-align:center;
	font-weight:bold;
	font-size:12pt;
	color:#000;
	font-family:"trebuchet ms", verdana, sans-serif;
}


/******************************/
/* rules for the flag buttons */
/******************************/
section#flagbuttons {
	display:block;
	margin-top:55px;

}

section#flagbuttons p{
	width:80%;
	height:150px;
	margin-left:30px;
}

section#flagbuttons img{
	margin-right:15px;
}

.alt_logo {
	position:absolute;
	top:35px;
	left:850px;
	float:right;
}

/******************************/
/* rules for the info section */
/******************************/
section#info {
	display:block;
	overflow:auto;
	position:relative;
	width:90%;
	height:486px;
	color:#000;
	margin-left:40px;
	border:2px solid orange;
	border-radius:10px;
	-moz-border-radius:10px;
	background:#FFF;
	padding:15px;
}

section#info li {
	margin-left:15px;
	background:inherit;
	font-size:8pt;
	line-height:15px;
	text-align:left;
	color:#000;
}

section#info a {
	color:#000;
	font-size:10pt;
}

/* ------------------------------------ */
/* rules for imbeded images in the body */
/* ------------------------------------ */
section#info img {
	padding-right:10px;
	float:left;
	display:inline;
}

b {
	color:#000;
	font-weight:bold;
	font-size:10pt;
}

/*---------------------------------- */
/* rules for the hand signal buttons */
/*---------------------------------- */

#handsigtable {
	text-align:center;
	background:#FFF;
	/* border:1px solid red; */
}

#handsigtable table {
	margin-left:auto;
	margin-right:auto;
	border-style:none;
	border-collapse:collapse;
	background:#FFF;
	/* border:1px solid black; */
}

#handsigtable th, #handsigtable td p{
	text-align:center;
	background:#FFF;
	color:#000;
}

#handsigtable img.outline {
	text-align:center;
	background:#FFF;
	border:3px solid #F9BB3A;
}

.buttonbox {
	display: inline;
	float:left;
	margin-left:70px;
	height:70px;
	margin-top:15px;
	background-color:#0033CC;
	background-image:none;
}

.handsigbuttons {
	display: inline;
	float: left;
	background-color:#0033CC;
	margin-right:15px;
}

.handsigbuttons a:link {
	background-color:#0033CC;
}

.handsigbuttons img {
	border:none;
}

.handsigbuttons a:visited {
	background-color:#0033CC;
}

.backbutton{
	width:75px;
	margin-left:auto;
	margin-right:auto;
}

#handsigimages {
	height:370px;
	margin-bottom:10px;
	border:3px solid #F9BB3A;
	background-color:#FFF;
}

#handsigimages img {
	margin-left:7px;
	margin-top:10px;
}

footer#page_footer { 
	clear: both; 
	width: 100%;
	display: block;
	text-align: center;
}
