<footer id="page_footer"> 
	<p>Best viewed with Safari 5+, Firefox 3+, Opera 10, Chrome 8+ or lastly IE 7+ - &copy; 2010,2011 Rocky Mountain Sidewinders.
		<% if logged_in? %>
			<%= link_to "Log Out", logout_path %>
		<% else %>
			<%= link_to "Log In", login_path %>
			<% end %></p>
</footer>
