<footer id="page_footer"> 
	<p>Best viewed with Firefox 3+, Safari 5+, Opera 10, Chrome 8+ or lastly IE 7,8, or 9 - &copy; 2010,2011 Rocky Mountain Sidewinders.</p>
</footer>

<script type="text/javascript">
<!-- comment out the script so the validator will ignore the javascript
	$(function(){ $('span,a,.tip').hoverbox(); });
// end of comments -->
</script>
