<p class="linecenter">Hand signals between the Corner Captain and the Flagger</p>
<p class="linecenter">Example 1: The Corner Captain is away from the flag station and needs to advise the flagger of an incident.</p><br/>
