<%= render(:partial => 'header') -%>

<%= render(:partial => 'mainlogo') -%>

<section id="info">
	The <b>Rocky Mountain Sidewinders</b> are a group of flagging and communication workers 
	(F&amp;C or corner workers) dedicated to providing elite level F&amp;C services to racing clubs in the Rocky Mountain region.&nbsp;&nbsp;The purpose of the Rocky Mountain Sidewinders organization is to provide safe course control by doing the following:<br/><br/>
	
	<ul>
		<li>Informing the drivers, through flags, lights, or other signals, of the condition of the course, the condition of their cars, or of 
			any unusual conditions affecting the running of the event.</li>
		<li>Informing the Operating Steward and other officials, through the communication network, of the condition of the course and the 
			competing cars, and of any situations requiring decisions and/or actions by the race officials.</li>
		<li> Relaying information and instructions from the Operating Steward to the persons operating the various emergency vehicles and equipment 
			around the course (they may also be tied into Control via radio) as well as to the racing drivers and other turn personnel.</li>
		<li>Undertaking emergency action needed to protect the lives and property of the marshals, drivers, or spectators in the event of an accident.</li>
		<li> Maintaining a clear course.</li>
	</ul><br/>
	
	The Rocky Mountain Sidewinders are committed to recruiting and training new F&amp;C workers.&nbsp;&nbsp;It is important to have an abundance 
	of F&amp;C workers if club racing in the rocky mountains is to thrive.&nbsp;&nbsp;If you enjoy sports car racing and want to 
	participate in this exciting, important aspect of the sport, become a Rocky Mountain Sidewinder.&nbsp;&nbsp;&nbsp;&nbsp;
	For more information contact:<a href="mailto:RMSidewinder@me.com"> RMSidewinder</a><br/><br/>
	
	History of the name: by <b>Vic Kuklin</b><br/>
	In 1974, when the only region in these parts was the Colorado Region, Continental Divide Raceway was closed.&nbsp;&nbsp;
	The only track left in the state was Aspen Raceway, which at a length of only 1.1 miles was great fun but not legal for national 
	races.&nbsp;&nbsp;Colorado Region decided to go back to the old airport at LaJunta for national races.&nbsp;&nbsp;Gray Brumfield and I marked the 
	new pavement edge in corner 4 for the paving crew.&nbsp;&nbsp;I know the year because our now 38-year-old daughter was driving the course 
	on her "tyke bike" which she sat on and pushed along.&nbsp;&nbsp;By the way, she rode the front straight of Pueblo Motorsports Park on 
	her tricycle at the age of five before it was paved.&nbsp;&nbsp;I believe that our first race at LaJunta was Labor Day weekend 
	of 1974.&nbsp;&nbsp;At that time, the corner workers called themselves the "Colorado Border Patrol" and we all wore white jackets 
	with a big "Border Patrol" logo on the back.&nbsp;&nbsp;The story is that on Saturday night of the race weekend, some of us visited 
	one of LaJunta’s "watering holes" and after sitting at the bar for a few minutes in our white jackets, 
	we noticed that all of the other patrons had fled.&nbsp;&nbsp;A meeting was held and we decided to change our name.&nbsp;&nbsp;At the time, 
	The Leapin Lizards were well-known corner workers from Kansas.&nbsp;&nbsp;We needed something to compete with Lizards.&nbsp;&nbsp;Well, sidewinders 
	can be found along roadsides and are known to eat lizards (never mind that the sidewinders on the side of the road were usually the flat ones).
	
	&nbsp;&nbsp;So the name "Rocky Mountain Sidewinders" was selected and someone (can't remember who) designed our new 
	patch .&nbsp;&nbsp;Tradition has been that upon receiving a divisional F&amp;C license in the Rocky Mountain Division, a worker 
	was awarded a Sidewinder patch.&nbsp;&nbsp;The rest, as they say, is history.
	
</section>

<%= render(:partial => 'footer') -%>
