<%= render(:partial => 'header') -%>

<%= render(:partial => 'mainlogo') -%>

<section id="info">
	<b>To qualify for a Regional F&amp;C License, you must:</b><br/>
	<ul>
		<li>Join the SCCA</li>
		<li>Volunteer to work F&amp;C at an event</li>
		<li>Award - 3.5" <b>RMSidewinder Regional patch</b></li>
	</ul><br/>

	<b>To qualify for a Divisional F&amp;C License, you must:</b><br/>
	<ul>
		<li>Maintain your membership in the SCCA</li>
		<li>Attend a Crash &amp; Burn School</li>
		<li>Work 8 Days (4 weekends) on your Regional license</li>
		<li>Successfully complete the Divisional F&amp;C Quiz</li>
		<li>Submit a request for upgrade to the Divisional Administrator of F&amp;C</li>
		<li>Award - 3.5" <b>RMSidewinder Divisional patch</b></li>
	</ul>
	
	<b>Divisional F&amp;C Duties:</b><br/>
	<ul>
		<li>Commit to being on time and ready to work on race morning</li>
	<li>Give the F&amp;C Specialty the diligence it deserves.&nbsp;&nbsp;This is an important job.&nbsp;&nbsp;
		RMSidewinders are respected for their skill and commitment the F&amp;C Specialty</li>
	</ul><br/>
	
	<b>To qualify for Corner Captain Status, you must:</b><br/>
	<ul>
		<li>Maintain your membership in the SCCA</li>
		<li>Work an additional 8 days on your Divisional license</li>
		<li>Completion of F&amp;C Corner Captain Quiz</li>
	</ul>

	<b>Corner Captain Duties:</b><br/>
	<ul>
		<li>Maintain a SAFE corner &amp; track section</li>
		<li>Train new workers in all aspects of the F&amp;C specialty</li>
		<li>Ensure new workers feel comfortable and welcome.&nbsp;&nbsp;(Make sure they get lunch and dinner, 
			introduce them to drivers and other workers).&nbsp;&nbsp;Provide constructive feedback to new workers</li>
		<li>Make sure new workers know when and where they are supposed to be</li>
		<li>Promote the specialty</li>
		<li>Cheerfully complete all requested paperwork (it's an important part of the job)</li>
	</ul><br/>

	<b>To qualify for a National F&amp;C License, you must:</b><br/>
	<ul>
		<li>Maintain your membership in the SCCA</li>
		<li>Work an additional 8 Days, as a corner captain, including</li>
		<li>1/2 Day as Communicator in race control (minimum)</li>
		<li>1/2 day as Logger in race control (minimum)</li>
		<li>Act as Flag Chief or Co-Flag Chief for a Regional Race</li>
		<li>Completion of National F&amp;C Quiz</li>
		<li>Submit a request for upgrade to the Divisional Administrator of F&amp;C</li>
		<li>Award - 3.5" <b>RMSidewinder National patch</b></li>
	</ul><br/>
</section>

<%= render(:partial => 'footer') -%>
