<%= render(:partial => 'header') -%>

<%= render(:partial => 'commbuttons') -%>

<section id="info">

	<b>COMMUNICATIONS PROCEDURES</b><br/>
	These standards are intended to be a recommended protocol that will result in clear, concise and complete information upon which an Operating Steward may make a wise decision.&nbsp;&nbsp;In the process the station communicator is responsible for conveying the basics of who, what, when where 
	and why.&nbsp;&nbsp;Clear communication is imperative to the safe operation of a race for the drivers, marshals and emergency vehicle 
	operators.&nbsp;&nbsp;Brevity is a key concept in good communications.&nbsp;&nbsp;It is recommended that all Flagging and Communications specialty 
	members experience all roles in communications, flagging and safety response.<br/>
	<b>THE CONTROL NETWORK</b><br/>
	Types of Control Network Systems
	<ul>
		<li>Hard-line or permanent communications systems permit more than one person to speak at once.&nbsp;&nbsp;This is very important should there 
			be a need to call an “Alert”.&nbsp;&nbsp;Not all tracks will have state of the art communications and each communication system will 
			have its own idiosyncrasies.</li>
		<li>Many tracks have only radio communication sometimes with a repeater.&nbsp;&nbsp;If there is a repeater, a useful technique is to insert 
			throwaway words such as “Control, Control”.&nbsp;&nbsp;Radio systems allow the communicator the freedom to move but they should try to 
			remain in the same location and not roam.</li>
		<li>The primary Control network at most temporary circuits will be a radio system.&nbsp;&nbsp;Place the microphone close to your mouth, next to 
			your lips, but do not cup it with your hand.</li>
		<li>Try to be in a position where track noise will not be picked up.&nbsp;&nbsp;Taking a few steps back from trackside will help.&nbsp;&nbsp;Some 
			radio systems have a two or three-second delay between the time the button is pushed to talk and the radio begins to broadcast, so that it is 
			necessary to briefly pause between pressing the talk button and beginning the transmission.&nbsp;&nbsp;Also, unlike a landline phone network, 
			only one individual can be heard over the radio system at a time - listening and keeping transmissions concise are the keys to successfully 
			using a radio system.</li>
	</ul>
	<b>ALL calls, except ALERT, should be made to Control as follows:</b>
	<ul>
		<li>"Control,Control, this is station [number], [flag condition].&nbsp;&nbsp;The initial call can also include a request for a backup flag at the next upstream station.&nbsp;&nbsp;(e.g., "Control, station 3, waving yellow, 
			backup yellow at 2.")</li>
		<li>WAIT for Control to acknowledge.&nbsp;&nbsp;Control may verify that any requested backup flag is being displayed before returning to the initial station calling.</li>
		<li>Describe the situation briefly, including the following:</li>
		<ul class="second">
			<li>Car number (in single digits), and color</li>
			<li>What happened, e.g. spun, spun and continued, stopped, hit the wall and remained or hit the wall and continued with damage</li>
			<li>Specifically where the incident happened, e.g. upstream or downstream (use when the situation occurred at some distance from the station 
				and combine with an approximate measure of distance in feet or yards), at the entrance or exit of the turn, at the apex, in the runoff, driver's 
				left or driver's right</li>
			<li>Track condition, e.g. percentage of track blockage, debris, or liquid on track</li>
			<li>If the car stops, whether the engine is running or the driver is attempting to restart</li>
			<li>If the car remains, its exact location, with particular attention relative to runoff or wall openings, e.g. 20 yards upstream from the station; 
			its orientation (counter-race, race direction, nose to the Armco, etc) which will help responding emergency vehicles</li>
			<li>If the car remains, the driver's condition, e.g. driver still in the car, marshals responding, driver out and OK, driver at the station</li>
			<li>Condition of barriers (Armco, tires, and walls), e.g.: tires are loose and need to be re-banded or stacked; wall was moved leaving a leading edge</li>
			<li>If the car remains, what equipment will be needed to retrieve it, and whether that would be now or at the end or the session, e.g.: wrecker or 
				tilt bed now, or flat tow at the end of the session.</li>
		</ul>
		<li>Remember to clear the backup flag from the upstream station.&nbsp;&nbsp;(e.g., “2 can go green ‘.)</li>
	</ul>
	<p class="linecenter">Use the audio controls above for communication examples.</p>
</section>

<%= render(:partial => 'footer')-%>

