<%= render(:partial => 'header') -%>

<%= render(:partial => 'coveragebuttons') -%>

<section id="info">
	<%= image_tag('tracks/track_coverage.jpg',:border=>0) %><b>Track and flag</b> coverage jurisdiction of each corner station extends from the plane of the 
	flag position to the following station's flag position.<br/><br/>
	<b>The station’s flag position is not to be moved forward or back to cover any incident.</b><br/><br/>
	Adjacent stations must be prepared to assist or backup each other as much as possible.<br/><br/>
	Shown in the adjacent diagram are corners 1,2, and 3 of High Plains Raceway.<br/><br/>
	In the diagram, Corner 1 is responsible for the area tinted yellow.<br/><br/>
	Corner 2 is responsible for anything that happens in the "green" tinted area.<br/><br/>
	The red tinted area belongs to corner 3.<br/><br/>
	The track from the Starter Stand to corner 1 is covered by the starter.&nbsp;&nbsp;Safety personnel from station 1 have to respond to incidents 
	between the starter and corner 1, because the starter stand generally doesn't have safety response personnel.&nbsp;&nbsp;<br/><br/>
	<b>The starter stand is a flag station.</b><br /><br />
	<p class="linecenter">Click the track buttons above to gain 'local knowledge'.</p>
</section>

<%= render(:partial => 'footer')-%>
