<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
<%= image_tag('flags/fancy_blackflag.png', :class=>'embed' ) -%><b>BLACK FLAG</b> (Solid Black)<br/><br/>
<b>SCCA:</b><br/>
Display : <b>Standing</b>, open from the Starter’s stand, accompanied by a number board indicating the car number.&nbsp;&nbsp;The car indicated by the number board must proceed directly to the pits and the location designated by the Chief Steward or event Supplementary Regulations for consultation with Officials.&nbsp;&nbsp;DO NOT TAKE ANOTHER LAP.<br/><br/>
NOTE: This flag and accompanying number board may be additionally displayed at another station location elsewhere on the course&nbsp;&nbsp;The corner marshals are affected by the fact that this flag and accompanying number board may be additionally displayed at another 
(Black Flag) station location elsewhere on the course.&nbsp;&nbsp;This black flag and the number board indicates to one particular driver to whom it is displayed that the driver must proceed to the pits and confer with Officials.<br/><br/>
Display : <b>Furled</b> from the Starter’s stand, pointed at a specific car.&nbsp;&nbsp;Indicates to the driver that (s)he is driving too aggressively, too many 4-offs or other bad driving behavior.&nbsp;&nbsp;Continued aggressive driving and an OPEN black may be warranted.<br/><br/>
Display: <b>OPEN, DISPLAYED AT ALL STATIONS</b> - The session has been halted.&nbsp;&nbsp;Practice/qualifying/racing has stopped and all cars shall proceed directly to the pits.&nbsp;&nbsp;This flag condition shall be accompanied by an ‘ALL’ sign displayed at the Starter’s stand and the sign may be repeated at stations located elsewhere on the course.&nbsp;&nbsp;If the session/race is restarted, it is done under the provisions of GCR Section 7.7 “Restarts.”<br/><br/>
	<p class="drawbox">THE BLACK FLAG CAN ONLY BE DISPLAYED BY ORDER OF THE OPERATING STEWARD.</p><br/>
<b>FIA:</b><br /Display : <b>Standing</b>, open from the Starter’s stand, accompanied by a number board indicating the car number.&nbsp;&nbsp;In Formula One races, the black flag means an immediate disqualification for the driver involved.&nbsp;&nbsp;The car number of the summoned driver is displayed in a designated place near the flag stand or occasionally on the flag itself.&nbsp;&nbsp;Black flags can be waved at all observation posts simultaneously to order all drivers to clear the track after the starter waves the red flag, often in the case of a serious accident.<br/><br/>
Source: 2003 SCCA F&amp;C Manual, http://en.wikipedia.org/wiki/Racing_flags
</section>

<%= render(:partial => 'footer')-%>