<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
	<%= image_tag('flags/fancy_checkeredflag.png',:border=>0) -%><b>CHECKERED FLAG</b> (Black and White Checks)<br/><br/>
	<b>SCCA</b>:<br/>
	Display : <b>Waving</b> - You have finished the race (or practice/qualifying session).&nbsp;&nbsp;Continue cautiously to the pits.
	&nbsp;&nbsp;Marshals are cautioned to remember that depending on individual course lengths, it may be some minutes after the checker 
	is displayed before the drivers see it and reduce speed.&nbsp;&nbsp;F&amp;C teams should be at the ready to flag any 
	situation until the last car is in the pits and the course is declared cold.&nbsp;&nbsp;At some courses there is a request from the Stewards 
	for the Black Flag station or other identified stations to wave a checkered flag at the conclusion of practice sessions.<br/><br/>
	<b>NASCAR and FIA</b>:<br/>
	Display : <b>Waving</b> - A single checkered flag is waved to signal the completion of a race.<br/><br/>
	<b>IRL</b>:<br/>
	Display : <b>Waving</b> - Two checkered flags are waved together to signal the completion of a race.<br/><br/>
	Source: 2003 SCCA F&amp;C Manual, http://en.wikipedia.org/wiki/Racing_flags
</section>

<%= render(:partial => 'footer')-%>