<%= render :partial => 'header' -%>

<%= render :partial => 'flagbuttonbar' -%>

<section id="info">
	<%= image_tag('flags/fancy_greenflag.png', :class=>'embed' ) -%><b>GREEN FLAG</b> (Solid Green) Per GCR:<br/><br/>
	<b>SCCA:</b><br/>
	Display: <b>WAVING</b> - A race or session is under way the instant the green flag is displayed.<br/>
	Display: <b>STANDING</b> - When displayed, (at the starter stand) the standing green flag indicates that the course is clear.<br/><br/>
	This flag shall normally be in possession of the starter ONLY, and shall NOT ordinarily be displayed 
	at flag stations around the course.&nbsp;&nbsp;If the session is not under caution or delayed, it is said to be under green-flag 
	conditions, though the flag is not actually displayed.<br/><br/>
	<b>NASCAR:</b><br/>
	Display: <b>WAVING</b> - A race or session is under way the instant the green flag is displayed.<br/>
	Display: <b>STANDING</b> - When displayed, (at the starter stand) the standing green flag indicates that the course is clear<br/><br/>
	A green and yellow flag waved at the same time indicates that the race is being started under caution 
	and laps are being counted.&nbsp;&nbsp;This usually occurs when a track is drying after a start delayed by rain.&nbsp;&nbsp;
	A green flag at the entrance to the pits may indicate that the pits are open.<br/><br/>
	<b>IRL:</b><br/>
	Display: <b>WAVING</b> - A race or session is under way the instant the green flag is displayed.<br/>
	Incorporated a stylized lowercase 'e' into its green flag to promote the series' use of ethanol as a motor fuel.<br/><br/>
	<b>FIA:</b><br/>
	Display: <b>WAVING</b> - When shown at a corner station, a green flag indicates the end of a local yellow-flag zone.<br/><br/>
	Before the use of starting lights in Formula One and most other FIA sanctioned or associated events, the national flag of the 
	country in which a race is occurring, instead of a green flag, was used to signal its start, and still does on occasion in the 
	event of equipment failure.<br/><br/>
	Source: 2003 SCCA F&amp;C Manual, http://en.wikipedia.org/wiki/Racing_flags
</section>

<%= render :partial => 'footer' -%>