<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
	<b>FLAGS AND THEIR MEANINGS</b> - per the current SCCA General Competition Rules, section - 9.4.2.(GCR)<br/><br/>
	Flags are used to provide information for the drivers regarding the course conditions in a particular sector or 
	to summon drivers into the pits because of potential mechanical problems or rule infractions.<br/><br/>
	<p class="drawbox">THE COMPETITORS SHALL OBEY THEM IMMEDIATELY AND WITHOUT QUESTION.</p><br/>
	The flags images displayed below are used in SCCA Club Racing (and other sanctioning bodies) 
	to convey information.<br/><br/>
	<p class="linecenter">Click on the flag images above to reveal their meaning and usage</p>
</section>

<%= render(:partial => 'footer')-%>
