<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
	<b>FLAGS AND THEIR MEANINGS</b> - per the current SCCA General Competition Rules, section - 9.4.2.(GCR)<br/><br/>
	Flags are used to provide information for the drivers regarding the course conditions in a particular sector or 
	to summon drivers into the pits because of potential mechanical problems or rule infractions.<br/><br/>
	<p class="drawbox">THE COMPETITORS SHALL OBEY THEM IMMEDIATELY AND WITHOUT QUESTION.</p><br/>
	The flags images displayed below are used in SCCA Club Racing (and other sanctioning bodies) 
	to convey information.<br/><br/>
	<p class="linecenter">Click on the flag images above to reveal their meaning and usage</p>
	
	<script type="text/javascript">
		$('homepage').addTip('Start over', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('aboutpage').addTip('A little history', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('licpage').addTip('Licensing', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });	
		$('schedpage').addTip('Lets go racing', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('raceorgpage').addTip('Who is in charge here?', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('mediapage').addTip('pics and such..', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('linkspage').addTip('Club info', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		
		$('greenflag').addTip('Start of Session', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('yellowflag').addTip('Caution!', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('passingflag').addTip('Check your mirrors', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('evflag').addTip('Slow vehicle ahead', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('surfaceflag').addTip('Loss of traction possible', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('meatballflag').addTip('Go to the pits', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('blackflag').addTip('Go see the stewards', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('redflag').addTip('STOP NOW!', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
		$('checkeredflag').addTip('End of Session', { tipJoint: [ 'center', 'bottom' ] , style: 'rounded' });
	</script>
</section>

<%= render(:partial => 'footer')-%>
