<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
<%= image_tag('flags/fancy_whiteflag.png',:border=>0) -%>WHITE FLAG (Solid White)<br/><br/>
<b>SCCA and FIA</b>:<br/>
Display: <b>Standing</b> - <b>Caution</b> - you are approaching a slow moving vehicle. either a race car with mechanical trouble, or an official vehicle.&nbsp;&nbsp;<b>Take care</b>.&nbsp;&nbsp;This flag shall be shown standing for two (2) flag stations prior to the vehicle.<br/><br/>
A standing white flag shall also be displayed during the first lap of a practice or qualifying session to indicate the location of 
the flagging stations.&nbsp;&nbsp;This flag is always held stationary above the head and is displayed by the blue flagger when the vehicle 
passes a point opposite the flag position.&nbsp;&nbsp;The white flag will continue to be displayed as long as the ambulance or service 
vehicle is moving on the racing surface in the station’s sector or area of responsibility.&nbsp;&nbsp; If the vehicle stops on or off 
the track, it is then covered only by appropriate use of the yellow flag.&nbsp;&nbsp;The stationary white flag will be used to cover 
such vehicle within your sector when they are moving on the racing surface.&nbsp;&nbsp; This will alert the drivers to the presence of 
an emergency vehicle.&nbsp;&nbsp;If the race car being serviced were on the racing surface or off the racing surface the appropriate 
waving or standing yellow flag respectively would also cover it.&nbsp;&nbsp;The appropriate yellow flags would also cover the stopped 
service vehicle or ambulance should it stop off or on the racing surface.<br/><br/>
<b>IRL and NASCAR</b>:<br/>
Display: <b>Standing</b> - A white flag displayed from the starter's tower indicates the start of the last lap for all the competitors.<br/><br/>
Source: 2003 SCCA F&amp;C Manual, http://en.wikipedia.org/wiki/Racing_flags
</section>

<%= render(:partial => 'footer')-%>