<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
	<%= image_tag('flags/fancy_passingflag.png', :class=>'embed' ) -%><b>BLUE FLAG</b> (Blue with Diagonal Yellow Stripe)<br/><br/>
	 <b>SCCA:</b><br/>
	 Display: <b>Standing</b> or <b>Waving.</b> - Another competitor is following you very closely or is trying to overtake you.&nbsp;&nbsp;This flag may be displayed standing or 
		waving, depending upon the speed with which you are being overtaken.&nbsp;&nbsp;It is not usually necessary to display the blue flags 
		during the first laps of a race or when two or more equally matched cars are jockeying for position for several laps.<br/><br/>
	Although the GCR provides for a waving blue flag, it is the general convention in SCCA to display the blue flag stationary or may 
		be rocked to indicate urgency.<br/><br/>
	NOTE:&nbsp;&nbsp;This flag can be very important when groups of cars with varying levels of performance potential are on 
		course at the same time; also when leaders in a race begin lapping the slower cars in the field.<br/><br/>
	 <b>FIA:</b><br/>
	 Display: <b>Waving.</b> - A blue flag, sometimes with a diagonal yellow, orange, or red stripe, informs a driver that a faster 
		car is approaching and that the driver should move aside to allow one or more faster cars to pass.&nbsp;&nbsp;
		During a race, this would usually only be shown to a driver getting lapped, but during practice or qualifying it 
		could be shown to any driver.&nbsp;&nbsp;In Formula One, if the driver about to be lapped ignores three waved 
		blue flags in a row, he is required to make a drive-through penalty.<br/><br/>
		Source: 2003 SCCA F&amp;C Manual, http://en.wikipedia.org/wiki/Racing_flags
</section>

<%= render(:partial => 'footer')-%>