<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
	<%= image_tag('flags/fancy_mechanicalflag.png', :class=>'embed' ) -%> <b>Mechanical Flag</b> (Black with large orange or red spot)<br/><br/>
	<b>SCCA:</b><br/>
	Display : <b>Standing</b> (with number board) - There is something mechanically wrong with your car.&nbsp;&nbsp;Proceed to your pit at reduced speed.&nbsp;&nbsp;This flag indicates to the particular driver to whom it is displayed that the driver's car has a problem and as a safety precaution, the driver should proceed slowly to the pits.&nbsp;&nbsp;Certain stations will be designated as “call through stations” to track particular cars during the above black/mechanical black/checkered flagging situations.&nbsp;&nbsp;The stations or turns should be identified in the morning meeting.<br/><br/>
	<p class="drawbox">THE MECHANICAL FLAG CAN ONLY BE DISPLAYED BY ORDER OF THE OPERATING STEWARD.</p><br/><br/><br/>
	Source: 2003 SCCA F&amp;C Manual
</section>

<%= render(:partial => 'footer')-%>