<%= render(:partial => 'header')-%>

<%= render(:partial => 'signalbuttons') -%>

<section id="info">
	<b>HAND SIGNALS AND THEIR MEANINGS</b> - per the SCCA F&amp;C Handbook (Published 2003)<br/><br/>
	F&amp;C Hand Signals are a limited vocabulary sign language suitable for communicating across relatively long distances.&nbsp;&nbsp;
		As such, the language has nouns, verbs, adjectives etc.&nbsp;&nbsp;The language supports 1 word answers to 
		the most common questions corner workers might ask.&nbsp;&nbsp;Questions can be asked and answered with short, 3 or 
		4 word phrases.<br /><br />Some of the language is directional; meaning, the yellow flagger will never give 
		the "Yellow Flag" hand signal to another worker.&nbsp;&nbsp;The yellow flagger will only receive this hand signal from the corner
		 captain.&nbsp;&nbsp;Or, the corner captain may signal for the surface flag if he spots oil on the track.&nbsp;&nbsp;The communicator may 
		signal to an across track safety worker check a car for dragging or leaking or smoking etc.&nbsp;&nbsp;The communicator may request a car 
		number and color from the safety worker who is at a car that has stopped out of view of the communicator.<br/><br/>
		<b>Hand signals are an important part of the F&amp;C speciality</b>, especially at the larger tracks when there are enough workers to 
		cover remote areas (like Road America at the Runoffs).<br/><br/><br/><br/>
	<p class="linecenter">Click the buttons above to illustrate some of the possible hand signals</p>
</section>

<%= render(:partial => 'footer')-%>
