<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
<%= image_tag('flags/fancy_surfaceflag.png',:border=>0) -%>	<b>SURFACE CONDITION FLAG</b> (Yellow with Vertical Red Stripes)<br/><br/>
<b>SCCA</b>:<br/>
Display: <b>Standing</b> - The yellow and red striped flag is displayed stationary at local flag stations to indicate that there is something on the track which could reduce grip or cause a car to lose control - generally oil, coolant, small pieces of debris or sand.&nbsp;&nbsp;It can also be "rocked" back and forth (but not waved) to indicate a small animal on the racing surface.<br/><br/>
This flag must be held stationary above the head by the blue flagger (not the yellow flagger) as the red and yellow colors blur together if the flag is waved.&nbsp;&nbsp;The use of this flag may be initiated by either flagger but is usually called for by the Corner Captain.&nbsp;&nbsp;Under racing conditions, the surface flag is displayed until there is an improvement in the course condition or for two laps, whichever is shorter, after which the changed surface is considered to merely be "part of the track".&nbsp;&nbsp;The surface flag can also indicate small dimensioned debris has been scattered on the track.<br/><br/>
NOTE: If the debris is large enough (such as tail pipes, wheels, hood and trunk lids, etc.) to directly damage a race car, its presence should be indicated by the use of a waving yellow flag.<br/><br/>
Source: 2003 SCCA F&amp;C Manual
</section>

<%= render(:partial => 'footer')-%>