<%= render(:partial => 'header') -%>

<%= render(:partial => 'coveragebuttons') -%>

<section id="info">
<%= image_tag('tracks/track_ppir.png',:border=>0) %><b>Pikes Peak International Raceway</b> is a superb facility!&nbsp;&nbsp;Road racers use the NASCAR pit out, the back straight then weave through the infield and out onto the front banking.<br /><br />The road course weaves through what would normally be NASCAR RV parking.&nbsp;&nbsp;Corner 5 is a busy corner.<br /><br /><b>F&amp;C morning meeting are generally held at the base of the control building.</b>
</section>

<%= render(:partial => 'footer')-%>