<%= render(:partial => 'header') -%>

<%= render(:partial => 'coveragebuttons') -%>

<section id="info">
	<%= image_tag('tracks/track_lajunta.png',:border=>0) %><b>La Junta Raceway</b> is a 1.5 mile, practically flat course (it is an airport after all, 
	although it is slightly uphill through turn 1 all the way to turn 2, then downhill from turn 5 to turn 7).<br /><br />Corner 2 is rarely 
	manned.   &nbsp;&nbsp;Most of the action is at 3, 4 and 5.&nbsp;&nbsp;There is a nasty curb around the inside of 7 that can upset cars if 
	they cut the corner.&nbsp;&nbsp;A concrete wall separates the pits from the track.<br /><br /><b>F&amp;C morning meetings are held under 
	the big tree near start/finish.</b>
</section>

<%= render(:partial => 'footer')-%>