<%= render(:partial => 'header') -%>

<%= render(:partial => 'coveragebuttons') -%>

<section id="info">
	<%= image_tag('tracks/track_hpr.png',:border=>0) %> <b>High Plains Raceway</b> is the premier road course in the Rocky Mountain Division.&nbsp;&nbsp;
	Turns 1, 4, 5, 8, and 14 are high activity stations.&nbsp;&nbsp;If something happens at 3 it's generally big!  3 is high speed.<br /><br />The 
	EV is typically stationed in the shortcut between 4A and 8.&nbsp;&nbsp;If the EV needs to enter the course, at 8, 8 must get a point from 7A 
	because 8 can't see a big enough gap to provide a safe entry for the EV!<br /><br />9 is the black flag station for the long course.&nbsp;&nbsp;4A 
	is manned only when the short course is being used.&nbsp;&nbsp;15 is manned only for the short or west courses.<br /><br /><b>F&amp;C morning 
	meetings are held in the pavilion near start/finish.</b>
</section>

<%= render(:partial => 'footer')-%>