<%= render(:partial => 'header') -%>

<%= render(:partial => 'coveragebuttons') -%>

<section id="info">
<%= image_tag('tracks/track_pmp.png',:size =>'676x406',:border=>0) %><b>Pueblo Motorsports Park</b> is operated by the city of Pueblo CO.<br /><br />It began as a weekend drag strip where Pueblo 'youts' could race their street rods.&nbsp;&nbsp;Consequently, there is a concrete 'burn-out' pad and a significant bump as you transition from turn 10 onto the straight.<br /><br />Distressed vehicles often exit the course at 7 and head back to the paddock.&nbsp;&nbsp;Active corners are 2,3, and 6.<br /><br /><b>F&amp;C morning meetings are generally held near the base of the Drag Tower tower at turn 10.</b>
</section>

<%= render(:partial => 'footer')-%>