<%= render(:partial => 'header')-%>

<%= render(:partial => 'flagbuttonbar')-%>

<section id="info">
	<%= image_tag('flags/fancy_yellowflag.png', :class=>'embed' ) -%><b>YELLOW FLAG</b> (Solid Yellow)<br/><br/>
	<b>SCCA:</b><br/>Display: <b>STANDING</b> - Take care, Danger, Slow Down, NO PASSING FROM THE FLAG until past emergency area.&nbsp;&nbsp;Typically, the stationary or standing yellow flag lets the drivers know that there is no obstruction on the racing surface, however there is something in a hazardous area.&nbsp;&nbsp;This could be a car just off course, an emergency vehicle attending to a disabled vehicle, a marshal that is exposed in a target area.&nbsp;&nbsp;When displayed stationary, the yellow flag is to be held with both hands, motionless above the head.<br/><br/>
Display: <b>WAVING</b> - Great Danger, Slow Down, be prepared to stop.<br/>
NO PASSING FROM THE FLAG until past emergency area.<br/>
The waving yellow flag tells the drivers that there is an obstruction on the racing surface.&nbsp;&nbsp;It prepares them to take 
necessary evasive action to avoid compounding the incident.<br/><br/>
Display: <b>STANDING DOUBLE YELLOW, DISPLAYED AT ALL STATIONS</b> - Indicates the entire course is under a yellow condition.&nbsp;&nbsp;SLOW DOWN, NO PASSING.&nbsp;&nbsp;This flag condition may be used with or without a Pace (Safety) Car, including pace lap(s).&nbsp;&nbsp;Cars may carefully pass emergency vehicles.&nbsp;&nbsp;Cars may also pass other cars that are disabled and cannot keep the pace as signified by a raised arm on the part of the driver of the disabled car (see GCR 9.2.2.).<br/>NOTE: A driver may encounter several flags before reaching the emergency area.&nbsp;&nbsp;The requirements are still the same “SLOW DOWN, NO PASSING.”<br/><br/>
The GCR does say a double yellow will be displayed at ALL stations but if a station has an incident [on course], during a DOUBLE-YELLOW 
lap then one of the two yellows shall be waved.&nbsp;&nbsp;Otherwise, the two yellow flags will be held motionless, preferably with a space between the two yellow flags.<br/><br/>
<p class="drawbox">ONLY A STEWARD CAN ORDER A FULL COURSE OR DOUBLE YELLOW.</p><br/>
Source: 2003 SCCA F&amp;C Manual</span>
</section>

<%= render(:partial => 'footer')-%>